.btn-circle {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}

mdb-card.card.card-cascade, mdb-card.testimonial-card.card , .card{
  margin-bottom: auto;
}

.dropdown-menu.dropdown-menu-right.a-various-dropdown.fadeInDropdown{
  width: 250px!important;
}

.icone{
  color: grey;
}

mdb-card-title.card-title {
  text-align: center;
}

.avatar.mx-auto {
  width: 70px!important;
  display: block;
  margin-left: auto!important;
  margin-right: auto!important;
  border: 5px solid #fff;
  /* width: 120px; */
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: -20px;
  height: 70px!important;
  margin-top: 40px;
}

.bg-info {
  background: linear-gradient(40deg,#2096ff,#05ffa3) !important;
}

.rounded-circle{
  border-radius: 50% !important;
}

.alert-md-local {
  background-color: #009688;
  border-color: #00695C;
  color: #fff;
}

mdb-card-footer.card-footer{
  display: block;
  margin-left: auto!important;
  margin-right: auto!important;
  background-color: white;
  margin-top: none!important;
  padding-top: 0;
}

.card-footer {
  border-top: none!important;
}

/* span.navbar-toggler-icon {
  display: none!important;
} */

.app-footer {
  background:linear-gradient(40deg,#2096ff,#05ffa3);
  color: white!important;
  text-align: center!important;
  display: block!important;
  padding-top: 1%!important;
}

.app-footer a{
  color: white!important;
  text-decoration: none!important;
}

hr {
  margin: 0;
  color: #8BC34A;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]){
  height:1px
}

.d-print-none{
  display:block!important
}

/* .fa-bell{
  color: rgb(199, 192, 192);
} */
