<div class="card big-card">
  <!-- <div class="card-header big-header">
    <h5><i class="fa fa-history"></i> Historique du processus de recrutement</h5>
  </div> -->
  <div class="card-body">
    <!-- <form action="#" class="pull-right position">
              <div class="input_container">
                <span class="input_icon"><i class="fa fa-search"></i></span>
                <input type="text" placeholder="Rechercher" class="form-control search-btn ">
              </div>
            </form> -->
    <!-- <div class="card sm-card">
      <div class="card-header sm-header">
        <h6 class="text-primary"><a href=""><i class="fa fa-calendar"></i> 17:30 20/02/2022</a></h6>
      </div>
      <div class="card-body">
        <p>Vous avez passé un deuxième entretien concernant l'offre de recrutement d'un ingénieur web Full Stack.</p>
      </div>
    </div>
    <div class="card sm-card">
      <div class="card-header sm-header">
        <h6 class="text-primary"><a href=""><i class="fa fa-calendar"></i>  17:30 15/01/2022</a></h6>
      </div>
      <div class="card-body">
        <p>Vous avez passé un premier entretien concernant l'offre de recrutement d'un ingénieur web Full Stack.</p>
      </div>
    </div>
    <div class="card sm-card">
      <div class="card-header sm-header">
        <h6 class="text-primary"><a href=""><i class="fa fa-calendar"></i> 10:35 05/01/2022</a></h6>
      </div>
      <div class="card-body">
        <p>Vous avez postuler dans la plateforme de recrutement de Proxym-IT concernant l'offre de recrutement
          d'un ingénieur web Full Stack.</p>
      </div>
    </div>-->
    <div class="education-section px-3 px-lg-4 pb-4">
      <h3 class="h3 mb-4"><i class="fa fa-history"></i> Historique du processus de recrutement</h3>
      <div class="timeline">
        <div class="timeline-card timeline-card-info card shadow-sm">
          <div class="card-body">
            <div class="h6 mb-1">Vous avez passé un deuxième entretien concernant l'offre de recrutement d'un ingénieur web Full Stack.
              <!-- <span class="text-muted h6">from International University</span> -->
            </div>
            <div class="text-muted text-small mb-2"><i class="fa fa-calendar"></i> 17:30 20/02/2022</div>
          </div>
        </div>
        <div class="timeline-card timeline-card-primary card shadow-sm">
          <div class="card-body">
            <div class="h6 mb-1">Vous avez passé un premier entretien concernant l'offre de recrutement d'un ingénieur web Full Stack.
              <!-- <span class="text-muted h6">from Regional College</span>-->
            </div>
            <div class="text-muted text-small mb-2"><i class="fa fa-calendar"></i> 17:30 15/01/2022</div>
          </div>
        </div>
        <div class="timeline-card timeline-card-secondary card shadow-sm">
          <div class="card-body">
            <div class="h6 mb-1">Vous avez postuler dans la plateforme de recrutement de Proxym-IT concernant l'offre de recrutement
              d'un ingénieur web Full Stack.
               <!-- <span class="text-muted h6">from Mt. High Scool</span> -->
            </div>
            <div class="text-muted text-small mb-2"><i class="fa fa-calendar"></i> 10:35 05/01/2022</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

