<div class="card">
  <div class="card-header">Collaborateurs</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2 selectCol" *ngIf="!equipe && !pole">
        <ng-select [items]="poles" bindLabel="nom" bindValue="id" placeholder="Selectionner le pôle"
          appendTo="body" multiple="true" [(ngModel)]="selectedPoles" (change)="getEquipesPoles(selectedPoles)">
        </ng-select>
      </div>
      <div class="col-md-2 selectCol" *ngIf="!equipe&& !pole">
        <ng-select [items]="equipes" bindLabel="nom" bindValue="id" placeholder="Selectionner l'équipe" appendTo="body"
          multiple="true" [(ngModel)]="selectedEquipes">
        </ng-select>
      </div>
      <div class="col-md-2 selectCol" *ngIf="pole">
        <ng-select [items]="equipes" bindLabel="nom" bindValue="id" placeholder="Selectionner l'équipe" appendTo="body"
          multiple="true" [(ngModel)]="selectedEquipes">
        </ng-select>
      </div>
      <div class="col-md-3 selectCol">
        <ng-select [items]="postes" bindLabel="poste" bindValue="poste" placeholder="Selectionner les postes"
          appendTo="body" multiple="true" [(ngModel)]="selectedPoste">
        </ng-select>
      </div>
      <div class="col-md-3 selectCol">
        <ng-select [items]="competences" bindLabel="nom" bindValue="nom" [virtualScroll]="true"
          placeholder="Selectionner les compétences" appendTo="body" multiple="true" [(ngModel)]="selectedComp">
        </ng-select>
      </div>
      <div class="col-md-2 text-center selectCol ">
        <button type="button" class="btn btn-primary btnAdd"
        (click)="getFilterCols(selectedPoles,selectedEquipes,selectedComp,selectedPoste)">
        <i class="fa fa-search"></i>&nbsp;Filtrer</button>
      </div>
    </div>
    <div class="row rowSearch">
      <div class="col-md-8"></div>
      <div class="input-group col-md-4 recherchBox">
        <div class="input-group-prepend">
          <span class="input-group-text spanSearch" (click)="search(searchWord)"><i class="fa fa-search"></i></span>
        </div>
        <input type="text" id="input1-group1" name="input1-group1" class="form-control" placeholder="Rechercher" [(ngModel)]="searchWord"
        (keyup)="search($event)">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table mat-table class="table table-striped full-width-table" matSort aria-label="Elements">
          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom et prénom</th>
            <td mat-cell *matCellDef="let row">{{row.nom | titlecase}}</td>
          </ng-container>
          <ng-container matColumnDef="emailPro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let row">{{row.emailPro}}</td>
          </ng-container>
          <ng-container matColumnDef="poste">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Poste</th>
            <td mat-cell *matCellDef="let row">{{row.poste}}</td>
          </ng-container>
          <!-- <ng-container matColumnDef="dateEmb">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date d'embauche</th>
            <td mat-cell *matCellDef="let row">{{row.dateEmb | date: 'dd/MM/yyyy'}}</td>
          </ng-container> -->
          <ng-container matColumnDef="pole" *ngIf="!equipe && !pole">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Pôle</th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.equipe">{{row.equipe.pole.nom}}</span>
              <span *ngIf="!row.equipe && row.role == 'RH'"> </span>
              <span *ngIf="!row.equipe && row.role == 'RP'"> {{row.id | getPole:poles}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="equipe" *ngIf="!equipe">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Équipe</th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.equipe">{{row.equipe.nom}}</span>
              <span *ngIf="!row.equipe && row.role == 'RH'"></span>
            </td>
          </ng-container>
          <ng-container matColumnDef="evaluation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Évalution</th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.evaluation">
                <app-star-rating rating={{row.evaluation}}></app-star-rating>
              </span>
              <span *ngIf="!row.evaluation"> </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let row">
              <button type="button" class="btn btn-sm btn-primary mr-1" style="margin-bottom: 4px"
                title="voir CV collaborateur" [routerLink]="['cv', row.id]" (click)="createNotif(row.id)">
                <i class="fa fa-eye"></i>
              </button>
              <button type="button" class="btn btn-sm btn-primary mr-1" style="margin-bottom: 4px"
                (click)="myUser = row;selectedRole=myUser.role;primaryModal.show()" title="modifier role">
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button type="button" class="btn btn-sm btn-danger mr-1" style="margin-bottom: 4px"
                (click)="myUser = row;dangerModal.show()" title="supprimer collaborateur">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <progressbar *ngIf="dataSource.data.length === 0 && test"
          class="progress-bar progress-bar-striped progress-bar-animated" [value]="0" [max]="200" [type]="'success'">
        </progressbar>
        <div class="alert alert-danger" *ngIf="dataSource.data.length === 0 && !test">
          <ul class="fa-ul">
            <li>
              <i class="fa fa-info-circle fa-li"></i> Aucun collaborateur correspond aux filtre de recherche spécifiés.
            </li>
          </ul>
        </div>
        <mat-paginator #paginator [pageIndex]="0" [pageSize]="5">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>

<!-- Modal Supp -->
<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Supprimer un candidat</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Êtes-vous sûr de vouloir supprimer ce collaborateur {{myUser?.nom}} ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Annuler</button>
        <button type="button" class="btn btn-danger"
          (click)="deleteUser(myUser.id);dangerModal.hide()">Confirmer</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modifier rôle</h4>
        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <p>Voulez-vous changer le role du collaborateur {{myUser?.nom}} ?</p>
          <div class="col-md-6" *ngIf="roles">
          <ng-select [items]="roles" bindLabel="role" bindValue="role" placeholder="Selectionner le rôle"
            appendTo="body" [(ngModel)]="selectedRole">
          </ng-select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Annuler</button>
        <button type="button" class="btn btn-primary" (click)="updateUserRole(myUser.id,selectedRole);primaryModal.hide()">
          Enregistrer</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
