.btnAdd{
  float: right!important;
  padding: 7 10;
  margin-right: 45px!important;
}

.spanSearch
{
  max-height: calc(1.5em + 0.75rem + 2px);
}

.imgCV
{
  padding-bottom: 3px;
}

th.mat-header-cell:first-of-type{
  padding-left: 12px;
}

.selectCol
{
  padding-left: 5px!important;
  padding-right: 5px!important;
}

.rowSearch{
  margin-top: 40px!important;
  margin-bottom: 15px!important;
}
