.btnAdd{
  float: right!important;
  padding: 7 10;
}

.selectCom ,.btnAdd{
  // padding-bottom: 1.25rem!important;
  float: right!important;
  margin-left: 40px;
}

.spanSearch
{
  max-height: calc(1.5em + 0.75rem + 2px);
}

.imgCV
{
  padding-bottom: 3px;
}

th.mat-header-cell:first-of-type{
  padding-left: 12px;
}

.rowSearch{
  margin-top: 40px!important;
  margin-bottom: 15px!important;
}
