.btnAdd{
  float: right!important;
  padding: 7 10;
}

.selectCom ,.btnAdd{
  // padding-bottom: 1.25rem!important;
  float: right!important;
  margin-left: 40px;
}

.spanSearch
{
  max-height: calc(1.5em + 0.75rem + 2px);
}

.imgCV
{
  padding-bottom: 3px;
}

th.mat-header-cell:first-of-type{
  padding-left: 12px;
}

.rowSearch{
  margin-top: 40px!important;
  margin-bottom: 15px!important;
}

td.mat-cell.cdk-cell.cdk-column-recommande.mat-column-recommande.ng-star-inserted , td.mat-cell.cdk-cell.cdk-column-id.mat-column-id.ng-star-inserted{
  text-align: left;
}




.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder .ng-input{
  padding-left: 0!important;
  font-size: 12px!important;
}

.ng-select.ng-select.ng-select-multiple.ng-select-searchable.ng-select-clearable.ng-pristine.ng-valid{
  font-size: 12px!important;
}

td.mat-cell {
  font-size: 13px;
}

.ng-select.ng-select.ng-select-multiple.ng-select-searchable.ng-select-clearable.ng-untouched.ng-pristine.ng-valid {
  margin-bottom: 7px;
}

// @media screen and (max-width: 960px) {
//   .mat-table {
//     border: 0;
//     vertical-align: middle
//   }

//   .mat-table caption {
//     font-size: 1em;
//   }

//   .mat-table .mat-row {
//     border-bottom: 5px solid #ddd;
//     display: block;
//   }

//   .mat-table .mat-cell {
//     border-bottom: 1px solid #ddd;
//     display: block;
//     font-size: 1em;
//     text-align: right;
//     font-weight: bold;
//     height:30px;
//     margin-bottom: 4%;
//   }
//   .mat-table .mat-cell:before {

//     content: attr(data-label);
//     float: left;
//     text-transform: uppercase;
//     font-weight: normal;

//     font-size: .85em;
//   }
//   .mat-table .mat-cell:last-child {
//     border-bottom: 0;
//   }
//     .mat-table .mat-cell:first-child {
//     margin-top: 4%;
//   }
// }
